<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/dist/img/js.jpg" alt="...">
                <div class="caption">
                    <h3>Javascript localstorage</h3>

                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/dist/img/js.jpg" alt="...">
                <div class="caption">
                    <h3>Javascript localstorage</h3>

                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/dist/img/js.jpg" alt="...">
                <div class="caption">
                    <h3>Javascript localstorage</h3>

                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->

        <div class="panel-body">
            <div class="row">
                <div class="col col-md-6">
                    <input type="text" id="addtaskinput" placeholder="Enter your task here" class="form-control">
                    <input type="hidden" id="saveindex">
                </div>
                <div class="col col-md-6">

                    <span class="btn btn-primary" id="adtbn">Add task</span>
                    <span class="btn btn-success mr-sm-2" id="savebtn">save task</span>
                    <span class="btn btn-danger" id="removeall">Remove All</span>



                </div>
            </div>
            <br>
            <table id="mytable" class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Created Date</th>

                        <th>Action</th>
                    </tr>
                </thead>

                <tbody id="tblbody">

                </tbody>

            </table>
        </div>

        <!-- Table -->



    </div>

    <table id="sectable" class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody id="tbody">

        </tbody>
    </table>

</div>
<script src="myjs.js"></script>
<script type="text/javascript " src="/resources/static/js/jquery.js "></script>
<script type="text/javascript " src="/resources/static/js/bootstrap.js "></script>